---
layout: default
---

{% include header.html %}
{% comment %} {% include countdown.html %} {% endcomment %}
{% comment %} {% include services.html %} {% endcomment %}
{% comment %} {% include about.html %} {% endcomment %}
{% include schedule.html %}
{% include counter.html %}
{% include speakers.html %}
{% include gallery.html %}
{% comment %} {% include questions.html %} {% endcomment %}
{% include tournament.html %}
{% include coderdojo.html %}
{% include map.html %}
{% comment %} {% include blog.html %} {% endcomment %}
{% comment %} {% include subscribe.html %} {% endcomment %}
{% comment %} {% include contact.html %} {% endcomment %}
{% include sponsors.html %}
{% include footer.html %}
{% include elements.html %}
{% include scripts.html %}

