<!-- Counter Area Start-->
<section class="counter-section section-padding">
  <div class="container">
    <div class="row">
      <!-- Counter Item -->
      <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
        <div class="counter wow fadeInRight" data-wow-delay="0.3s">
          <div class="icon"><i class="far fa-map"></i></div>
          <p>Departamento de Informática</p>
          <span>Campus de Gualtar & Azurém</span>
        </div>
      </div>
      <!-- Counter Item -->
      <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
        <div class="counter wow fadeInRight" data-wow-delay="0.6s">
          <div class="icon"><i class="far fa-clock"></i></div>
          <p>13 - 20 Outubro 2018</p>
          <span>09h00 – 18h00</span>
        </div>
      </div>
      <!-- Counter Item -->
      <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
        <div class="counter wow fadeInRight" data-wow-delay="0.9s">
          <div class="icon"><i class="fab fa-slideshare"></i></div>
          <p>Talks & Workshops</p>
          <span>A Semana toda</span>
        </div>
      </div>
      <!-- Counter Item -->
      <div class="col-md-6 col-lg-3 col-xs-12 work-counter-widget text-center">
        <div class="counter wow fadeInRight" data-wow-delay="1.2s">
          <div class="icon"><i class="fas fa-cookie-bite"></i></div>
          <p>Free Snacks</p>
          <span>Não falhes</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter Area End-->
