    <!-- Coundown Section Start -->
    <section class="countdown-timer section-padding">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="heading-count">
              <h2 class="wow fadeInDown" data-wow-delay="0.2s">Só faltam</h2>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row time-countdown justify-content-center wow fadeInUp" data-wow-delay="0.2s">
              <div id="clock" class="time-count"></div>
            </div>
            <a href="http://cesium.di.uminho.pt/activities" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">REGISTA-TE</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Coundown Section End -->
