<!-- Event Slides Section Start -->
<section id="event-slides" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Event Guideline</h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
        <div class="video">
          <img class="img-fluid" src="assets/img/about/about.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.3s">
        <p class="intro-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
          has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
          type and scrambled it to make a type specimen book. It has survived not only five centuries.
        </p>
        <h2 class="intro-title">Check List</h2>
        <ul class="list-specification">
          <li><i class="lni-check-mark-circle"></i> Lorem Ipsum is simply dummy</li>
          <li><i class="lni-check-mark-circle"></i> Ipsum passages, and more recently</li>
          <li><i class="lni-check-mark-circle"></i> PageMaker including versions</li>
          <li><i class="lni-check-mark-circle"></i> Lorem Ipsum is simply dummy</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Event Slides Section End -->
