<footer class="footer-area section-padding">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
        <h3><img src="assets/img/{{ site.logo }}" alt="{{ site.title }}"></h3>
        <p>{{ site.description }}</p>
      </div>

      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
        <h3>QUICK LINKS</h3>
        <ul class="link">
          {% for url in site.data.navbar %}
          <li><a href="{{ url.link }}">{{ url.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
        <h3>NEXT EVENTS</h3>
        <ul class="image-list">
          <li>
            <figure class="overlay">
              <img class="img-fluid" src="assets/img/art/a1.jpg" alt="">
            </figure>
            <div class="post-content">
              <h6 class="post-title"> <a href="blog-single.html">Lorem ipsm dolor sumit.</a> </h6>
              <div class="meta"><span class="date">October 12, 2018</span></div>
            </div>
          </li>
          <li>
            <figure class="overlay">
              <img class="img-fluid" src="assets/img/art/a2.jpg" alt="">
            </figure>
            <div class="post-content">
              <h6 class="post-title"><a href="blog-single.html">Lorem ipsm dolor sumit.</a></h6>
              <div class="meta"><span class="date">October 12, 2018</span></div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">

        <h3>Contact US</h3>
        <div class="widget">
          <div class="newsletter-wrapper">
            <ul>
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>
          </div>
        </div>

        <div class="widget">
          <h5 class="widget-title">FOLLOW US ON</h5>
          <ul class="footer-social">
            <li><a class="facebook" href="https://www.facebook.com/{{ site.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/{{ site.twitter }}"><i class="fab fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/{{ site.instagram }}"><i class="fab fa-instagram"></i></a></li>
            <li><a class="github" href="https://github.com/{{ site.github }}"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</footer>

<div id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site-info">
          <p>made with ❤ by <a href="http://cesium.di.uminho.pt" rel="nofollow">CeSIUM</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
