<!-- Ask Question Section Start -->
<section id="faq" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Ask Question?</h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <div class="header-title" data-toggle="collapse" data-target="#questionOne" aria-expanded="true"
                aria-controls="collapseOne">
                <i class="lni-pencil"></i> How to make a new event?
              </div>
            </div>
            <div id="questionOne" class="collapse" aria-labelledby="headingOne" data-parent="#question">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <div class="header-title" data-toggle="collapse" data-target="#questionTwo" aria-expanded="false"
                aria-controls="questionTwo">
                <i class="lni-pencil"></i> Which payment methods do you accept?
              </div>
            </div>
            <div id="questionTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#question">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <div class="header-title" data-toggle="collapse" data-target="#questionThree" aria-expanded="false"
                aria-controls="questionThree">
                <i class="lni-pencil"></i> Which document can i bring to meeting?
              </div>
            </div>
            <div id="questionThree" class="collapse" aria-labelledby="headingThree" data-parent="#question">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <div class="header-title" data-toggle="collapse" data-target="#questionFour" aria-expanded="false"
                aria-controls="questionFour">
                <i class="lni-pencil"></i> Who can join at the live event venue?
              </div>
            </div>
            <div id="questionFour" class="collapse" aria-labelledby="headingThree" data-parent="#question">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div class="accordion">
          <div class="card">
            <div class="card-header" id="headingOne2">
              <div class="header-title" data-toggle="collapse" data-target="#questionOne2" aria-expanded="true"
                aria-controls="collapseOne">
                <i class="lni-pencil"></i> How to make a new event?
              </div>
            </div>
            <div id="questionOne2" class="collapse" aria-labelledby="headingOne" data-parent="#question">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo2">
              <div class="header-title" data-toggle="collapse" data-target="#questionTwo2" aria-expanded="false"
                aria-controls="questionTwo">
                <i class="lni-pencil"></i> Which payment methods do you accept?
              </div>
            </div>
            <div id="questionTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#question">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <div class="header-title" data-toggle="collapse" data-target="#questionFive" aria-expanded="false"
                aria-controls="questionFive">
                <i class="lni-pencil"></i>How to set price?
              </div>
            </div>
            <div id="questionFive" class="collapse" aria-labelledby="headingThree" data-parent="#question">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <div class="header-title" data-toggle="collapse" data-target="#questionSix" aria-expanded="false"
                aria-controls="questionSix">
                <i class="lni-pencil"></i> What our price list?
              </div>
            </div>
            <div id="questionSix" class="collapse" aria-labelledby="headingThree" data-parent="#question">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Ask Question Section End -->
