<!-- Ticket Pricing Area Start -->
<section id="pricing" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Torneio</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xa-12 mb-3" style="margin:0 auto;">
        <div class="price-block-wrapper wow fadeInUp" data-wow-delay="0.3s">
          <div class="icon">
            <i class="fas fa-futbol"></i>
          </div>
          <div class="colmun-title">
            <h5>FIFA 19</h5>
          </div>
          <div class="price">
            <p>17 de Outubro - 15h</p>
            <p>GamersAcademy</p>
          </div>
          <div class="pricing-list">
            <ul>
              <li><i class="fas fa-award"></i></i><span class="text">Vencedor  - garrafa</span></li>
              <li><i class="fas fa-award"></i></i><span class="text">Finalistas - t-shirt</span></li>
            </ul>
          </div>
          <a href={{site.torneio-link}} class="btn btn-common">PARTICIPAR</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Ticket Pricing Area End -->
