<!-- Ticket Pricing Area Start -->
<section id="pricing" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Torneio</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xa-12 mb-3" style="margin:0 auto;">
        <div class="price-block-wrapper wow fadeInUp" data-wow-delay="0.3s">
          <div class="icon">
            <i class="fas fa-gamepad"></i>
          </div>
          <div class="colmun-title">
            <h5>FIFA 19</h5>
          </div>
          <div class="price">
            <p>Quarta-feira, 17 de Outubro</p>
            <p><i class="far fa-clock"></i> 15h00 - 18h00</p>
            <p><i class="fas fa-map-marker-alt"></i> GamersAcademy</p>
          </div>
          <div class="prizes">
            <ul>
              <li><i class="fas fa-trophy"></i></i><span class="text">Garrafa de Jeropiga</span></li>
              <li><i class="fas fa-award"></i></i><span class="text">Camisola do CeSIUM</span></li>
            </ul>
            <p>Consulta o regulamento <a>aqui</a>.</p>
          </div>
          <a href={{site.torneio-link}} class="btn btn-common">PARTICIPAR</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Ticket Pricing Area End -->
