//All Preset color variables are here

 // blue
 $blue: #08a0c4;

// Project Specific Colors
$strong-blue: #28318c;
$light-red: #ff625f;
$white: #ffffff;
$light-blue: #8291e8;
$dark-blue: #00187c;
$dark-red: #db3934;

$preset:  $light-red;
